<?xml version="1.0" encoding="utf-8"?>

<!--
Copyright (c) 2011-12 by Curt Binder (http://curtbinder.info)
 
This work is made available under the terms of the 
Creative Commons Attribution-NonCommercial-ShareAlike 3.0 Unported License
http://creativecommons.org/licenses/by-nc-sa/3.0/
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="info.curtbinder.reefangel.phone"
    android:versionCode="20"
    android:versionName="@string/app_version" >

    <uses-sdk
        android:minSdkVersion="5"
        android:targetSdkVersion="16" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="info.curtbinder.reefangel.permission.QUERY_STATUS" />
    <uses-permission android:name="info.curtbinder.reefangel.permission.SEND_COMMAND" />

    <permission
        android:name="info.curtbinder.reefangel.permission.QUERY_STATUS"
        android:description="@string/permissionQueryStatusDescription"
        android:label="@string/permissionQueryStatusLabel"
        android:permissionGroup="android.permission-group.SYSTEM_TOOLS"
        android:protectionLevel="normal" />
    <permission
        android:name="info.curtbinder.reefangel.permission.SEND_COMMAND"
        android:description="@string/permissionSendCommandDescription"
        android:label="@string/permissionSendCommandLabel"
        android:permissionGroup="android.permission-group.SYSTEM_TOOLS"
        android:protectionLevel="normal" />
    <permission
        android:name="info.curtbinder.reefangel.permission.READ_PROVIDER"
        android:description="@string/permissionReadProviderDescription"
        android:label="@string/permissionReadProviderLabel"
        android:permissionGroup="android.permission-group.SYSTEM_TOOLS"
        android:protectionLevel="normal" />

    <application
        android:name="RAApplication"
        android:icon="@drawable/ic_icon"
        android:label="@string/app_name" >
        <activity
            android:name=".StatusActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AboutActivity"
            android:label="@string/titleAbout"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name=".LicenseActivity"
            android:label="@string/titleLicense"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name=".PrefsActivity"
            android:label="@string/titlePrefs" >
        </activity>
        <activity
            android:name=".ParamsListActivity"
            android:label="@string/titleParams" >
        </activity>
        <activity
            android:name=".MemoryActivity"
            android:label="@string/titleMemory" >
        </activity>
        <activity
            android:name=".CommandsActivity"
            android:label="@string/titleCommands" >
        </activity>
        <activity
            android:name=".MemoryTabsActivity"
            android:label="@string/titleMemoryTabs"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".CommandTabsActivity"
            android:label="@string/titleCommandTabs"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".HistoryPopupActivity"
            android:label="@string/titleHistory"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name=".FirstRunActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".DateTimeActivity"
            android:label="@string/titleDateTime" >
        </activity>

        <service android:name="info.curtbinder.reefangel.service.ControllerService" >
        </service>
        <service android:name="info.curtbinder.reefangel.service.UpdateService" >
        </service>

        <receiver android:name=".BootReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        
        <provider android:name="info.curtbinder.reefangel.db.StatusProvider"
            android:authorities="info.curtbinder.reefangel.db"
            android:readPermission="info.curtbinder.reefangel.permission.READ_PROVIDER" >
        </provider>
    </application>

</manifest>